#download {
    background-color: var(--background-dark-color);
    color: var(--light-color);
    margin-top: -50px;
    padding: 120px 0 110px 0;
}

#download span {
    display: block;
    text-align: center;
}

#download span:first-child {
    margin: 0 54px 0 54px;
}

#download span:nth-child(2) {
    color: #BDBDBD;
    margin: 20px 84px 0 84px;
}

#download .download-button {
    margin: 60px 40px 0 40px;
    display: flex;
    justify-content: center;
    gap: 13px
}

#download .download-button-buy {
    width: 137px;
}

#download .download-button-try {
    flex-grow: 1;
}